####################################
# Java / Maven
####################################
target/
*.class
*.jar
*.war
*.ear

####################################
# Logs
####################################
*.log
logs/

####################################
# Spring Boot
####################################
.application.properties

####################################
# IDEs
####################################
# IntelliJ
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

####################################
# OS files
####################################
.DS_Store
Thumbs.db

####################################
# Docker
####################################
**/docker-data/
**/data/

####################################
# Environment / Secrets
####################################
.env
*.env

####################################
# Node (if ever used)
####################################
node_modules/

####################################
# Test / Coverage
####################################
coverage/

