version: "3.8"

services:

  # --------------------
  # POSTGRES DATABASE
  # --------------------
  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - micro-net

  # --------------------
  # CONFIG SERVER
  # --------------------
  config:
    build: ./config
    container_name: config
    ports:
      - "8888:8888"
    volumes:
      - ./config-repo:/config-repo
    networks:
      - micro-net

  # --------------------
  # DISCOVERY SERVER (EUREKA)
  # --------------------
  discovery:
    build: ./discovery
    container_name: discovery
    ports:
      - "8761:8761"
    depends_on:
      config:
        condition: service_started
    networks:
      - micro-net

  # --------------------
  # DEPARTMENT SERVICE
  # --------------------
  department:
    build: ./department
    container_name: department
    ports:
    - "8083:8083"
    depends_on:
      postgres:
        condition: service_healthy
      discovery:
        condition: service_started
    networks:
      - micro-net

  # --------------------
  # EMPLOYEE SERVICE
  # --------------------
  employee:
    build: ./employee
    container_name: employee
    ports:
    - "8082:8082"
    depends_on:
      postgres:
        condition: service_healthy
      discovery:
        condition: service_started
    networks:
      - micro-net

  # --------------------
  # API GATEWAY
  # --------------------
  gateway:
    build: ./gateway
    container_name: gateway
    ports:
      - "8081:8081"
    depends_on:
      employee:
        condition: service_started
      department:
        condition: service_started
    networks:
      - micro-net

networks:
  micro-net:
    driver: bridge

volumes:
  postgres-data:
